### Memory Location

In [2]:
# Memory Location
x=20
id(x)

140708610885000

In [3]:
# hexa decimal of Memory Location
hex(id(x))

'0x7ff946c4c588'

In [4]:
# if the value is same it will keep in same merory location 
y=20
id(y)

140708610885000

### Identity Operator 'IS'

In [6]:
x is y

True

In [7]:
x == y

True

### If Statements

+ = -- Assignment
+ == -- Comparision

In [19]:
x=10
y= 5

##### If Statement

In [20]:
if x==y:
    print("Equal")

In [21]:
x=10
y=10

if x==y:
    print("Equal")
    print("Hi")

Equal
Hi

In [22]:
x=10
y=1

if x==y:
    print("Equal")
    print("Hi")

In [23]:
x=10
y=1

if x==y:
    print("Equal")
print("Hi")

Hi

In [24]:
x=10
y=1

if x==y:
    print("Equal")
    print("Hi")
print("Hello")

Hello

In [25]:
x=10
y=10

if x==y:
    print("Equal")
    print("Hi")
print("Hello")

Equal
Hi
Hello

##### If-Else Statement

In [28]:
x=10
y=4

if x==y:
    print("Equal")
else:
    print("Not Equal")

Not Equal

##### if-Elif-Else Statement

In [29]:
x = -9

if x>0:
    print("Positive")
elif x<0:
    print("Negative")
else:
    print("Zero")

Negative

##### Example (Week)

In [33]:
num=5

if num == 1:
    print ("Monday")
elif num == 2:
    print ("Tuesday")
elif num == 3:
    print ("Wednesday")
elif num == 4:
    print ("Thursday")
elif num == 5:
    print ("Friday")
else:
    print ("Not a Working day")

Friday

### Loops in Python

##### While Command

In [34]:
cnt = 0 

while cnt < 5:
    print("Hello World!")
    cnt = cnt+1

Hello World!
Hello World!
Hello World!
Hello World!
Hello World!

In [35]:
cnt = 0 

while cnt < 5:
    cnt = cnt+1
    print("Hello World! ",cnt)

Hello World!  1
Hello World!  2
Hello World!  3
Hello World!  4
Hello World!  5

##### To come out of the loop we will use Break

In [38]:
cnt = 0 

while cnt < 500:
    cnt = cnt+1
    print("Hello World! ",cnt)

    if cnt==3:
        break

Hello World!  1
Hello World!  2
Hello World!  3

##### Continue take you the begining of the loop

In [43]:
cnt = 0 

while cnt < 5:
    cnt = cnt+1
    if cnt==3:
        continue

    print("Hello World! ",cnt)

Hello World!  1
Hello World!  2
Hello World!  4
Hello World!  5

### Get input from User

In [45]:
name= input("Enter your name:")

Enter your name: Jaiswal

In [46]:
print(f'Hello {name}, how are you?')

Hello Jaiswal, how are you?

In [47]:
age= input("Enter your age:")

Enter your age: 17

In [48]:
## You will always get the value in string 
type(age)

str

In [49]:
## To convert to int for perfoming operations

myage=int(age)
type(myage)

int

In [50]:
## To get the direct interger value

age=int(input('Enter your age'))

Enter your age 17

In [51]:
type(age)

int

### Functions

In [52]:
def myfunc(x):
    return x*x

In [53]:
myfunc(9)

81

In [54]:
myfunc(5)

25

##### Example -- Day of Week

In [56]:
def day_of_week(num):
    if num ==1:
        print("Monday")
    elif num==2:
        print("Tuesday")
    elif num==3:
        print("Wednesday")
    elif num==4:
        print("Thursday")
    elif num==5:
        print("Friday")
    else:
        print("Not a working day")

In [59]:
day_of_week(6)

Not a working day

### Docstring -- Used for documentation purpose

In [61]:
mystr='I love Python'
mystr

'I love Python'

In [62]:
mystr='''I love 
Python'''
print(mystr)

I love
Python

In [65]:
def day_of_week(num):
    '''
    Description: Used to find the day of the Week
    Input: A number between 1 and 5 
    Output: The name of the day corresponding to the input
    '''
    if num ==1:
        print("Monday")
    elif num==2:
        print("Tuesday")
    elif num==3:
        print("Wednesday")
    elif num==4:
        print("Thursday")
    elif num==5:
        print("Friday")
    else:
        print("Not a working day")

### Help

In [64]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [66]:
help(day_of_week)

Help on function day_of_week in module __main__:

day_of_week(num)
    Description: Used to find the day of the Week
    Input: A number between 1 and 5
    Output: The name of the day corresponding to the input

### Lambda Function -- Anonymous (Nameless) Function

In [67]:
# Named Function

def square(x):
    return x**2

In [68]:
square(4)

16

In [69]:
# Lambda Function 

sqr= lambda x: x**2

In [70]:
sqr(4)

16

##### Example -- Product of x and y

In [71]:
pro = lambda x,y : x*y

In [73]:
pro(2,3)

6